
html, body {
    height: 100%;
}

#mapid {
    height: 100%;
}

.container-fluid, .content{
    height: 100%;
}

#sub-title {
    text-align: center;
}

.play-pause {
    color: #228BE6;
    cursor: pointer;
}

.trash {
    color: #F03E3E;
}

#myInput {
    padding: 20px;
    margin-top: -6px;
    border: 0;
    border-radius: 0;
    background: #f1f1f1;
}